# Ignore only the Docs folder
Docs/

# Node / frontend common ignores
ci_platfrom_app-develop/node_modules/
ci_platfrom_app-develop/dist/
ci_platfrom_app-develop/build/

# VS / backend common ignores
Mission/**/bin/
Mission/**/obj/
Mission/**/.vs/
Mission/**/packages/
Mission/**/*.dll
Mission/**/*.exe
Mission/**/*.pdb

# System files
.DS_Store
Thumbs.db