# Ignore everything by default
*

# But DO NOT ignore these folders (keep them)
!/Mission/
!/ci_platfrom_app-develop/

# Inside Mission: ignore .NET build folders
Mission/**/bin/
Mission/**/obj/
Mission/**/.vs/
Mission/**/packages/
Mission/**/*.dll
Mission/**/*.exe
Mission/**/*.pdb

# Inside ci_platform_app-develop: ignore node and build folders
ci_platform_app-develop/node_modules/
ci_platform_app-develop/dist/
ci_platform_app-develop/build/

# Allow gitignore files inside subfolders
!.gitignore
