# Ignore Mission build artifacts
Mission/**/bin/
Mission/**/obj/
Mission/**/.vs/
Mission/**/packages/
Mission/**/*.dll
Mission/**/*.exe
Mission/**/*.pdb

# Ignore ci_platfrom_app-develop build folders
ci_platfrom_app-develop/node_modules/
ci_platfrom_app-develop/dist/
ci_platfrom_app-develop/build/

# Ignore system files
.DS_Store
Thumbs.db

